<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6">
    <div ng-controller="ToBuyShoppingController as Purchase">
     <h2>To Buy:</h2>
     <ul>

       <li ng-repeat="item in Purchase.list">
         Buy {{item.quantity|number}} {{item.name}}
         <button class="btn btn-default"  ng-click="Purchase.item($index)"><span class="glyphicon glyphicon-ok"></span>Bought</button>
       </li>

      </ul>
      <div class="emptyMessage" ng-if="Purchase.list.length === 0">Everything is bought!</div>
    </div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6">
    <div ng-controller="AlreadyBoughtShoppingController as Sold">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in Sold.list">
         Bought {{item.quantity|number}} {{item.name}}
       </li>
     </ul>
     <div class="emptyMessage" ng-if="Sold.list.length === 0">Nothing bought yet.</div>
    </div>
    </div>
  </div>
</div>

</body>
</html>
